.InventoryItem {
    position: relative;
}

.InventoryItem > img {
    display: block;
    padding: 1px;
    width: 32px;
    height: 32px;
    border: 1px solid black;
    border-left: 3px solid black;
}

.InventoryItem > .quantity {
    position: absolute;
    background-color: white;
    bottom: 1px;
    right: 1px;
    font-size: 10px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
}

.InventoryItem > .equipped {
    position: absolute;
    background-color: #c0ffbe;
    top: 1px;
    left: 3px;
    font-size: 10px;
    width: 12px;
    height: 12px;
    text-align: center;
    line-height: 12px;
}
