.PlantRadioOption {
    display: flex;
    flex-direction: row;
    align-items: center;

    label {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 8px;

        > *:not(:first-child) {
            margin-left: 8px;
        }
    }
}
