.BattleLog {
    display: flex;
    flex-direction: column;
}

.BattleLog > h1 {
    display: inline-block;
    margin: 0 0 0 8px;
    padding: 4px 10px;
    font-size: 1em;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    align-self: start;
}

.BattleLog > div {
    flex-grow: 1;
    border: 1px solid black;
    overflow-y: scroll;
}

.BattleLog > div > ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #d6d9f7cf;
}

.BattleLog > div > ol > li {
    padding: 6px;
}

.BattleLog > div > ol > li:nth-child(even) {
    background-color: #edf1ffcf;;
}

.HealthEffectResult > .damage {
    color: red;
}

.HealthEffectResult > .ally, .HealthEffectResult > .enemy {
    font-weight: bold;
    cursor: default;
    border-radius: 4px;
    padding: 0 4px;
}

.HealthEffectResult > .ally {
    color: #1d1dd2;
    text-shadow: 1px 1px 1px #9a9aff;
}

.HealthEffectResult > .ally:hover {
    background-color: #aeb0ff96;
    text-shadow: none;
}

.HealthEffectResult > .enemy {
    color: #c31600;
    text-shadow: 1px 1px 1px #bb9a96;
}

.HealthEffectResult > .enemy:hover {
    background-color: #ffaeae96;
    text-shadow: none;
}
