.detailed-dex {
    background-color: #c4ceff;
    border: 1px solid #7aa2f9;
    border-radius: 10px;
    text-align: center;
}

.detailed-dex > div.body {
    background-color: #e0e6ff;
}

.detailed-dex > * {
    padding: 4px;
    margin: 0;
}

.detailed-dex > *:not(:last-child) {
    border-bottom: 1px solid #7aa2f9;
}

.detailed-dex > *:first-child {
    border-radius: 10px 10px 0 0;
}

.detailed-dex > *:last-child {
    border-radius: 0 0 10px 10px;
}
