.GridPreview {
    display: inline-block;
}

.GridPreview > table {
    border-collapse: collapse;
}

.GridPreview > table, .GridPreview td {
    border: 1px solid black;
}

.GridPreview td {
    width: 16px;
    height: 16px;
    border: 1px solid black;
}

.GridPreview td[data-in-range] {
    background-color: green;
}
