.PBBGProgressBar {
    display: inline-block;
    width: 5em;
    height: 1em;

    .outer {
        height: 100%;
        border: 1px solid black;
        box-sizing: border-box;
    }

    .inner {
        height: 100%;
        background: var(--bar-background-color, linear-gradient(#6de1ff, #00789c));
        transition: width 0.6s cubic-bezier(.8, 0, .2, 1);
    }
}
