.MarketItemEntry {
    .sprite-container {
        display: inline-block;
        position: relative;
        cursor: pointer;
    }

    .item-sprite {
        display: block;
        width: 32px;
        height: 32px;
        padding: 2px;
        border: 1px solid gray;
        box-shadow: #0000001f 2px 2px 1px;
    }

    &[data-selected] {
        .item-sprite {
            border-width: 2px;
            border-color: black;
            box-shadow: none;
            padding: 1px;
        }
    }

    .quantity {
        position: absolute;
        bottom: 1px;
        right: 1px;
        background-color: white;
        border: 1px solid black;
        font-size: 10px;
        width: 16px;
        height: 16px;
        line-height: 16px;
        text-align: center;
    }
}
