div.dex-categories {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.dex-categories > a {
    display: inline-block;
    width: 200px;
    border: 3px solid black;
    border-top: 0;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}

div.dex-categories > a:hover {
    color: white;
    background-color: #0390f9;
}

div.dex-categories > a:first-child {
    border-top: 3px solid black;
    border-radius: 10px 10px 0 0;
}

div.dex-categories > a:last-child {
    border-radius: 0 0 10px 10px;
}

a.dex-return {
    width: 130px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 6px;
}

a.dex-return:hover {
    color: white;
    background-color: #0390f9;
}

div.dex-header {
    padding: 4px;
    background-color: #c4ceff;
    border: 1px solid #7aa2f9;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
}

div.dex-header > h1 {
    margin: 0;
    font-size: 1.5em;
}

div.dex-container {
    padding: 4px;
    background-color: #c4ceff;
    border: 1px solid #7aa2f9;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
