.FarmPage {
    .ExpandablePlotList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .PlotList {
            display: contents;
            list-style: none;
            margin: 0;
            padding: 0;

            .Plot {
                position: relative;
                border: 1px solid black;
                margin: 8px;
            }
        }

        .ExpandPlots {
            position: relative;
            display: flex;
            width: 130px;
            height: 175px;
            border: 1px solid black;
            box-sizing: border-box;
            margin: 8px;
            //background-image: url(../img/lock.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;

            &::before {
                content: "";
                position: absolute;
                z-index: -1;
                width: 100%;
                height: 100%;
                background-image: url(../img/lock.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;
            }

            button {
                background-image: url(../img/plus.svg);
                background-color: green;
                border-radius: 20px;
                margin: auto;
            }
        }
    }

    .PlotImage {
        display: inline-block;
        width: 128px;
        height: 128px;

        img {
            width: 128px;
            height: 128px;
            position: absolute;
        }
    }

    .PlotFooter {
        display: flex;
        flex-direction: column;
        align-items: center;

        > * {
            margin-top: 5px;
        }

        > *:last-child {
            margin-bottom: 5px;
        }
    }

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #00000059;
        z-index: 1;

        .spinner-holder {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
