.inventory-container {
    margin: 0;
    padding: 0;
    display: flex;
    border: 1px solid #717171;
}

.inventory-container > li {
    list-style-type: none;
    margin: 2px;
}

.inventory-container > li:not(:hover) > .InventoryItemTooltip {
    display: none;
}

.player-equipment {
    position: relative;
    align-self: center;
}

.player-portrait {
    width: 128px;
    height: 192px;
}
