.LoginRegisterPage-form {
    margin: 0 auto;
    width: 330px;
}

.LoginRegisterPage-form > * {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.LoginRegisterPage-form > input {
    padding: .375rem .75rem;
    line-height: 1.5;
}

.LoginRegisterPage-form > button {
    padding: .5rem 1rem;
}

.LoginRegisterPage-login-link {
    margin: 0 auto;
}
