.Market {
    display: grid;
    grid-template-areas: "header header" "for-sale inventory";
    text-align: center;
}

.Market > h1 {
    grid-area: header;
}

.Market > .for-sale {
    grid-area: for-sale;
}

.Market > .inventory {
    grid-area: inventory;
}

.Market .ForSale {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    list-style-type: none;
    padding: 8px;
}

.Market .ForSale > li > img {
    width: 32px;
    height: 32px;
}
