.Market {
    display: grid;
    grid-template-areas: "header header" "gold gold" "for-sale inventory";
    grid-template-columns: 50% 50%;
    text-align: center;
}

.Market > h1 {
    grid-area: header;
}

.Market > .gold {
    grid-area: gold;
}

.Market > .for-sale {
    grid-area: for-sale;
}

.Market > .inventory {
    grid-area: inventory;
}

.Market .ForSale, .Market .UserInventory {
    margin: 0 16px;
}

.Market .ForSale > ul, .Market .UserInventory > ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    border: 1px solid black;
    list-style-type: none;
    padding: 8px;
}

.Market .ForSale > ul > li:not(:last-child), .Market .UserInventory > ul > li:not(:last-child) {
    margin-right: 6px;
}

.Market .ForSale > ul > li > img, .Market .UserInventory > ul > li > img {
    width: 32px;
    height: 32px;
    padding: 2px;
    border: 1px solid gray;
    cursor: pointer;
    box-shadow: #0000001f 2px 2px 1px;
}

.Market .ForSale > ul > li > img[data-selected], .Market .UserInventory > ul > li > img[data-selected] {
    border-width: 2px;
    border-color: black;
    box-shadow: none;
}

.Market .footer {
    border: 1px solid black;
    border-top-width: 0;
    text-align: right;
    padding: 4px;
}

.Market .footer > :not(:last-child) {
    margin-right: 8px;
}
