.Market {
    display: grid;
    grid-template-areas: "header header" "for-sale inventory";
    grid-template-columns: 50% 50%;
    text-align: center;
}

.Market > h1 {
    grid-area: header;
}

.Market > .for-sale {
    grid-area: for-sale;
}

.Market > .inventory {
    grid-area: inventory;
}

.Market .ForSale, .Market .Inventory {
    margin: 0 16px;
}

.Market .ForSale > ul, .Market .Inventory > ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    border: 1px solid black;
    list-style-type: none;
    padding: 8px;
}

.Market .ForSale > ul > li:not(:last-child), .Market .Inventory > ul > li:not(:last-child) {
    margin-right: 6px;
}

.Market .ForSale > ul > li > img, .Market .Inventory > ul > li > img {
    width: 32px;
    height: 32px;
    padding: 2px;
    border: 1px solid black;
}

.Market .footer {
    border: 1px solid black;
    border-top-width: 0;
    text-align: right;
    padding: 8px;
}
