.Mine {
    overflow: auto;
}

.Mine > table {
    table-layout: fixed;
    border-spacing: 0;
    border: 1px solid black;
    margin: auto;
}

.Mine > table[data-can-mine] {
    cursor: pointer;
}

.Mine > table[data-submitting] {
    cursor: wait;
}

.Mine tr {
    height: 18px;
}

.Mine td {
    padding: 0;
    min-width: 18px;
    min-height: 18px;
}

.Mine img {
    display: block;
    margin: auto;
    width: 16px;
    height: 16px;
}

.Mine td[data-in-range] {
    background-color: limegreen;
}

.Mine td[data-submitting] {
    animation: submitting-cell-anim 1.5s;
    animation-iteration-count: infinite;
}

@keyframes submitting-cell-anim {
    0% {
        background-color: #258b25;
    }

    50% {
        background-color: #9d9d9d;
    }

    100% {
        background-color: #258b25;
    }
}
